{% extends 'base.html.twig' %}

{% block title %}Liste des Événements{% endblock %}

{% block body %}
    <h1>Liste des Événements</h1>

    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nom</th>
                <th>Date de début</th>
                <th>Date de fin</th>
                <th>Lieu</th>
            </tr>
        </thead>
        <tbody>
            {% for evenement in evenements %}
                <tr>
                    <td>{{ evenement.id }}</td>
                    <td>{{ evenement.nom }}</td>
                    <td>{{ evenement.dateDebut|date('Y-m-d H:i:s') }}</td>
                    <td>{{ evenement.dateFin|date('Y-m-d H:i:s') }}</td>
                    <td>{{ evenement.lieu.nom }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}